debug = {% if traefik_debug %}true{% else %}false{% endif %}

checkNewVersion = true
logLevel = "ERROR"
defaultEntryPoints = ["http", "https"]

[traefikLog]
  filePath = "{{ traefik_logs_dir }}/traefik.log"

[accessLog]
  filePath = "{{ traefik_logs_dir }}/access.log"

[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
  [entryPoints.https.tls]

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "{{ traefik_domain }}"
watch = true
exposedbydefault = false

[acme]
email = "{{ traefik_acme_email }}"
storage = "{{ traefik_acme_file }}"
entryPoint = "https"
OnHostRule = true
  [acme.httpChallenge]
  entryPoint = "http"

# Enable UI and API.
[api]
address = "127.0.0.1:8080"
readOnly = true
